*.pdf
.vscode/
*.csv
/storage/testing
dist

storage/python/.env
storage/nodejs/.env
pythonServer/storage/.env

storage/python/objects/__pycache__/

storage-IA/nodejs/

storage-IA/python/__pycache__/

storage-IA/python/objects/__pycache__/

storage-IA/testing/

storage-IA/python/.env

pythonServer/.env