.base {
  background-position: center;
  background-size: contain;
}

.content {
  height: 500px;
  min-height: 100vh;
  padding-top: 5rem;

  z-index: -1;
}

.toast {
  background-color: #1116;
  backdrop-filter: saturate(180%) blur(10px);

  top: 80px;
}

