.base {
  background-color: #1116;
  backdrop-filter: saturate(180%) blur(10px);

  height: 4rem;
  width: 100%;
  padding: 0 2rem;

  position: fixed;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  z-index: 1000;
}

.base a {
  color: #fff;
  text-decoration: none;
}

.items  {
  display: flex;
  gap: 1rem;
}

.items * {
  margin: 0;
}
